<div xmlns="http://www.tei-c.org/ns/1.0" type="poem">
    {% if not title is none %}<head>{{ title }}</head>{% endif %}
    {%- for stanza in poem %}
    <lg type="stanza">
        {%- for line in stanza %}
        <l>{{ line }}</l>
        {%- endfor %}
    </lg>
    {%- endfor %}
</div>
